@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

.lives {
  font-size: 32px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-family: "Handjet", sans-serif;
  color: #fff;
  /* По умолчанию белый цвет */
}

.livesCritical {
  color: rgb(255, 55, 55);
  /* Красный цвет при 1 жизни */
}



.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}

.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.buttonEsc {
  background-color: #7ac100;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: StratosSkyeng;
  margin-top: 64px;
}

.buttonEsc:hover {
  background-color: #45a049;
}

.superPowerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.superPowerButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.superPowerContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: none;
  /* Скрываем по умолчанию */
  position: absolute;
  width: 161px;
  height: 195px;
  background: #C2F5FF;
  /* Задний фон окна */
  color: #004980;
  /* Цвет текста */
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 10px;
  /* Немного отступов для текста */
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Тень для эффекта */
  top: 100%;
  /* Ставим под кнопку */
  right: -80%;
  /* Выравнивание по горизонтали */
}

.superPowerContainer:hover .tooltip {
  display: block;
  /* Показываем при наведении */
}

  /* Цвет слова "Прозрение" */
.superPowerContainer:hover .tooltip .title {
  height: 24px;
  color: #004980;
  font-weight: bold;
  text-align: center;
}

/* Определим стиль для "Прозрение" */
.title {
  font-size: 18px;
  padding-bottom: 18px;
}